@using StoreApp.Client.Components.ComponentFiles.CardItem


<div class="promoted-products-wrapper">
    <div class="promoted-products">
        <div class="head-text">@HeaderText</div>
        <div class="cards-list-wrapper">
            @foreach (var product in ProductList)
            {
                <CardItemComponent ImageSrc="@product.ImageSrc"
                                   Title="@product.Title"
                                   Rating="@product.Rating"
                                   RatingText="@($"{product.Rating}/5")"
                                   CurrentPrice="@product.CurrentPrice"
                                   OldPrice="@product.OldPrice"
                                   Discount="@product.Discount" />
            }
        </div>
        @if (IsVisibleViewAllButton)
        {
            <div class="view-all-button-wrapper">
                <button class="view-all-button">View All</button>
            </div>
        }
    </div>
</div>